<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>
<body class="paper">
	<div id="app">
		<input v-model="number" type="number" min="1">
		<input v-model="row" type="number" min="1">
		<div class="space"></div>
		<h3>สูตรคูณแม่ {{number}}</h3>
		<h5>แม่ก่อนหน้า -> แม่ {{before_number}}</h5>
		<div class="all-row">
			<h3 class="row" v-for="i in r">{{number}} x {{i}} = {{x(i)}}</h3>
			<h4 class="sum">ผลรวมทั้งหมด = {{sum(row)}}</h4>
		</div>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				number: 2,
				before_number: 1,
				row: 12
			},
			methods: {
				x: function(row){
					return this.number*row
				},
				sum: function(row){
					let sum = 0
					for(let i=1;i<=row;i++){
						sum += this.number*i
					}
					return sum;
				}
			},
			computed: {
				r: function(){
					return parseInt(this.row)
				},
				x2: function(row){
					return this.number*2
				},
				x3: function(row){
					return this.number*3
				},
				x4: function(row){
					return this.number*4
				},
				x5: function(row){
					return this.number*5
				},
				x6: function(row){
					return this.number*6
				},
				x7: function(row){
					return this.number*7
				},
				x8: function(row){
					return this.number*8
				},
				x9: function(row){
					return this.number*9
				}
			},
			watch: {
				number: function(a, b){
					this.before_number = b
				}
			}
			
		})
	</script>
</body>
</html>